[Unit]
Description = raScsiHddDaemon
[Service]
ExecStart=/usr/local/bin/rascsihdd.sh
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/kill $MAINPID
Restart=no
Type=simple

[Install]
WantedBy = multi-user.target
