[Unit]
Description = raScsiAllDaemon
[Service]
ExecStart=/usr/local/bin/rascsiall.sh
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/kill $MAINPID
Restart=no
Type=simple

[Install]
WantedBy = multi-user.target
